<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="nav" class="navbar">
    <a th:href="@{/}" class="brand">Travel Compass</a>
    <div class="nav-links">
        <a th:href="@{/}">홈</a>
        <a th:href="@{/favorites}">즐겨찾기</a>
        <a th:href="@{/checklist}">체크리스트</a>
        <a th:href="@{/reviews}">후기</a>
    </div>
    <div class="nav-user">
        <span th:if="${nickname}" th:text="${nickname} + '님'"></span>
        <form th:action="@{/logout}" method="post" class="logout-form">
            <button type="submit">로그아웃</button>
        </form>
    </div>
</div>
</body>
</html>
